<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- Cutomer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Detalii client</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Nume</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">

                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                    class="alert alert-danger mt-1">

                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhiteSpace">
                                        Numele este obligatoriu!
                                    </div>

                                    <div *ngIf="firstName.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Prenume</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                    class="alert alert-danger mt-1">

                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhiteSpace">
                                        Prenumele este obligatoriu!
                                    </div>

                                    <div *ngIf="lastName.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                    class="alert alert-danger mt-1">

                                    <div *ngIf="email.errors.required">
                                        Email-ul este obligatoriu!
                                    </div>

                                    <div *ngIf="email.errors.pattern">
                                        Introduceti o adresă de e-mail valabila!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Shipping adress -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Date livrare</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Tara</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressCountry.errors.required">
                                        Nume tara este obligatoriu!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Strada</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhiteSpace">
                                        Nume strada este obligatoriu!
                                    </div>
                                    <div *ngIf="shippingAddressStreet.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Oras</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhiteSpace">
                                        Nume oras este obligatoriu!
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Judet</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>

                                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAddressState.errors.required">
                                        Nume judet este obligatoriu!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Cod postal</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="shippingAddressZipCode.errors.required || shippingAddressZipCode.errors.notOnlyWhiteSpace">
                                        Codul postal este obligatoriu!
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add check box to copy shipping adress to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Adresa de facturare este aceeasi cu adresa de livrare
                    </label>
                </div>
                <!-- Billing adress -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Date de facturare</h3>

                    <div class="row">
                        <div class="col-md-2"><label>Tara</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressCountry.errors.required">
                                        Nume tara este obligatoriu!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Strada</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhiteSpace">
                                        Nume strada este obligatoriu!
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Oras</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">

                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhiteSpace">
                                        Nume oras este obligatoriu!
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Judet</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" name="Judet">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>

                                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="billingAddressState.errors.required">
                                        Nume judet este obligatoriu!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Cod postal</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">

                                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhiteSpace">
                                        Codul postal este obligatoriu!
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        Introduceti minim 2 caractere!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Credit card -->

                <div formGroupName="creditCard" class="form-area">
                    <h3>Plata</h3>
                    <div class="row">
                        <div class="col-md-2"><label>Tip card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>VISA</option>
                                    <option>MASTERCARD</option>
                                </select>

                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardType.errors.required">
                                        Tip card este obligatoriu!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Numele pe de card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">

                                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhiteSpace">
                                        Numele de pe card este obligatoriu!
                                    </div>

                                    <div *ngIf="creditCardNameOnCard.errors.minlength ">
                                        Introduceti minim 2 caractere!
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Nr card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">

                                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardNumber.errors.required">
                                        Numar card este obligatoriu!
                                    </div>
                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        Numar card trebuie sa fie fromat din 16 cifre!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Cod securitate</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">

                                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="creditCardSecurityCode.errors.required">
                                        Cod securitate este obligatoriu!
                                    </div>
                                    <div *ngIf="creditCardSecurityCode.errors.pattern">
                                        Cod securitate trebuie sa fie format din 3 cifre!
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Luna expirare</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>An expirare</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Order details -->
                <div class="form-area">
                    <h3>Sumar comanda</h3>

                    <p>Total cantitate : {{totalQuantity}}</p>
                    <p>Livrare gratuita</p>
                    <p>Pret Total: {{totalQuantity }} RON</p>
                </div>
                <!-- Submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Trimite comanda</button>
                </div>
            </form>

        </div>
    </div>
</div>